<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        color: white;
        background-color: #282c32;
        overflow: hidden;
        display: grid;
        place-content: center;
        min-height: 100vh;
    }

    p{
        color: white;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
<body>
    <p>
      Ecell clone Backend
    </p>
</body>
</html>